In [3]:
import pandas as pd

In [4]:
df1 = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
df2 = pd.DataFrame({'col1': [1, 2], 'col2': [3, 5]})

In [5]:
df1

   col1  col2
0     1     3
1     2     4

In [6]:
df2

   col1  col2
0     1     3
1     2     5

In [20]:
diff_locations = (df1 != df2).stack()
changed = diff_locations[diff_locations]
changed.index.names = ['id', 'col']
difference_locations = changed.index

In [21]:
diff_locations

0  col1    False
   col2    False
1  col1    False
   col2     True
dtype: bool

In [22]:
changed

id  col
1   col2    True
dtype: bool

In [23]:
difference_locations

MultiIndex([(1, 'col2')],
           names=['id', 'col'])